body {
  padding-top: 41px;
  font-size: 12px;
}
.navbar {
  min-height: 0;
  height: 40px;
  margin-bottom: 0;
}
.navbar .navbar-text {
  float: left;
  margin: 0;
  line-height: 40px;
}
.navbar .brand {
  font-size: 1.35em;
}
.navbar .redis {
  color: #fff;
}
.left-sidebar {
  position: fixed;
  top: 41px;
  bottom: 0;
  left: 0;
  display: block;
  padding: 20px;
  overflow: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f2f2f2;
  border-right: 1px solid #e6e6e6;
}
.main {
  position: fixed;
  top: 41px;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  padding: 20px;
}
.slideout {
  position: fixed;
  top: 51px;
  bottom: 10px;
  right: 0;
  width: 500px;
  background: #363636;
  color: white;
  border: 1px solid #ddd;
  border-right: none;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: -520px;
  transition: margin-right 150ms ease-in;
}
.slideout.open {
  transition: margin-right 300ms ease-out;
  margin-right: 0;
}

/* Settings
*******************************************************************************/
.settings {
  padding-top: 5px;
}
.settings button,
.settings a {
  font-size: 0.95em;
}
.settings button {
  border-color: #333;
  background: #555;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
}
.settings button:hover {
  border-color: #444;
  background: #666;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
}
.settings .open .dropdown-toggle {
  background: #777;
  border-color: #2E2E2E;
  color: #ccc;
}
.settings i {
  margin-right: 5px;
  opacity: 0.5;
}
.settings .dropdown-menu li a {
  padding: 3px 10px;
}

/* Sidebar Tree
*******************************************************************************/
.sidebar .tree {
  margin-left: -20px;
}
.sidebar .tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .tree ul li {
  list-style: none;
  margin: 0;
  padding: 3px 20px 3px 15px;
  white-space: nowrap;
}
.sidebar .tree a.expand {
  color: #999;
}
.sidebar .tree a.expand:hover {
  color: #000;
  text-decoration: none;
}
.sidebar .tree a.expand i {
  width: 14px;
  text-align: center;
}
.sidebar .tree a.expand .open {
  display: none;
}
.sidebar .tree a.expanded .open {
  display: inline-block;
}
.sidebar .tree a.expanded .closed {
  display: none;
}
.sidebar .tree ul li.bottom {
  margin-left: 17px;
}
.sidebar .tree a.key {
  color: #666;
}
.sidebar .tree a.key:hover {
  color: #000;
  text-decoration: none;
}
.sidebar .tree a.key.selected {
  color: #DA382F;
}
.sidebar .tree a.key .folder {
  margin-right: 5px;
  color: #bbb;
  text-align: center;
}
.sidebar .tree a.key:hover .folder {
  color: #777;
}
.sidebar .tree a.key.selected .folder {
  color: #DA382F;
}
.sidebar .tree a.key .count {
  font-size: 0.9em;
  color: #999;
  margin-left: 5px;
}

/* Slideout
*******************************************************************************/
.slideout .slideout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slideout .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #ccc;
}
.slideout .close:hover {
  color: #999;
}
.slideout .loader {
  font-size: 100px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0;
  margin: -50px auto 0 auto;
  color: #444;
}
.slideout .slideout-title {
  padding: 10px 30px 10px 20px;
  border-bottom: 1px solid #4a4a4a;
}
.slideout .slideout-title h3 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.slideout .slideout-content {
  flex: 1;
  padding: 10px 20px;
  overflow-y: scroll;
  background: #3D3D3D;
  border-bottom-left-radius: 8px;
}
.slideout .slideout-content pre {
  border: none;
  background: none;
  overflow: visible;
  color: #eee;
  font-size:  0.9em;
}

/* Search
*******************************************************************************/
.search {
  margin-bottom: 20px;
}

/* Records Table
*******************************************************************************/
.records-table table {
  table-layout: fixed;
}
.records-table tr {
  cursor: pointer;
}
.records-table tr.selected td {
  background: #E2FFD8;
}
.records-table tr.selected td i {
  color: green;
}
.records-table tr.selected:hover td {
  background: #E2FFD8;
}
.records-table td.type {
  color: #bbb;
  vertical-align: middle;
  text-align: center;
  width: 20px;
}
.records-table td.record {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
}
.records-table td.record .key {
  margin-right: 10px;
}
.records-table td.record .key .sep {
  color: #999;
  margin: 0 2px;
}
.records-table td.record .value {
  color: #999;
  font-family: monospace;
}

/* Record Detail
*******************************************************************************/
.record-detail .key {
  word-wrap: break-word;
}
.record-detail .key .sep {
  color: #999;
  margin: 0 2px;
}
.record-detail .value {
  word-wrap: break-word;
}
