<div class="search">
  <div class="input-group">
    <span class="input-group-addon input-sm">
      <i class="fa fa-search"></i>
      <span class="match"></span>
    </span>
    <input type="text" class="form-control input-sm" placeholder="my:search:*">
  </div>
</div>
<div class="records"></div>