.key-details-panel {
  .side-panel {
    position: relative;

    .close {
      position: absolute !important;
      top: 0;
      right: 0;
      color: @cyan-600;

      &:hover {
        color: @cyan-300;
      }
    }

    .key-details {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: @cyan-900;
      color: @cyan-50;
      font-size: 12px;

      & > * {
        box-sizing: border-box;
      }
      .key {
        min-height: 48px;
        padding: 15px 48px 12px 24px;
        background: @cyan-700;
        border-bottom: 1px solid @cyan-600;
        color: @cyan-100;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 16px;
      }
      .type {
        padding: 12px 24px;
        background: @cyan-800;
        border-bottom: 1px solid @cyan-700;
        color: @cyan-400;

        .type-icon {
          font-size: 16px;
          margin-right: 6px;
          vertical-align: middle;
        }
        .type-name {
          vertical-align: middle;
        }
      }
      .value {
        flex: 1;
        overflow: auto;
        padding: 12px;

        pre {
          padding: 12px;
          margin: 0;
          white-space: pre-wrap;
          word-wrap: break-word;
        }
        pre code {
          background: @white !important;
        }
      }
    }
  }
}