<td class="type">
  <i class="fa {{icon}}" title="{{type}}"></i>
</td>
<td class="record">
  <span class="key">
    {{{key}}}
    <span class="operations">
      <i class="copy fa fa-clipboard" title="Copy key to clipboard"></i>
    </span>
  </span>
  <span class="value">{{value}}</span>
</td>