<h2>
  {{message}}
</h2>
{{#is code 403}}
  <p>Your user account does not have permissions to view the content you requested.</p>
{{/is}}
{{#is code 404}}
  <p>We're sorry! The content you requested may have been removed or accessible using a different URL.</p>
{{/is}}
{{#is code 500}}
  <p>Something went wrong!</p>
{{/is}}
