<ul>
  <li class="bottom">
    <a href="#" class="key selected" data-key="[all]">
      <i class="fa fa-folder folder"></i>[All]<span class="count">{{dbsize}}</span>
    </a>
  </li>
  {{#keys}}
    {{> sidebar_keys}}
  {{/keys}}
</ul>